## Lambda Function

In [4]:
mylist = [1,5,4,7,2,3]

def square(x):
    for i in x:
        print(i**2)
        
square(mylist)

1
25
16
49
4
9

In [21]:
mylist = [1,5,4,7,2,3]
sorted(map(lambda x: x**2, mylist))

[1, 4, 9, 16, 25, 49]

In [18]:
mylist = [1,5,4,7,2,3]
sorted(filter(lambda x: x > 3, mylist))

[4, 5, 7]

In [43]:
L = [23,11,42,36,27,80,19,34,62,43,95]

print("Sum of even integers are: {}".format(sum(list(filter(lambda x : x%2 == 0, L)))))
print("Sum of odd integers are: {}".format(sum(list(filter(lambda x : x%2 != 0, L)))))
print("Sum of integers divisible by 3 are: {}".format(sum(list(filter(lambda x : x%3 == 0, L)))))

Sum of even integers are: 254
Sum of odd integers are: 218
Sum of integers divisible by 3 are: 105

In [49]:
#Alternatively
L = [23,11,42,36,27,80,19,34,62,43,95]

print("Sum of even integers are: {}".format(sum([i for i in L if i%2 == 0])))
print("Sum of odd integers are: {}".format(sum([i for i in L if i%2 != 0])))
print("Sum of integers divisible by 3 are: {}".format(sum([i for i in L if i%3 == 0])))

Sum of even integers are: 254
Sum of odd integers are: 218
Sum of integers divisible by 3 are: 105

In [54]:
fruits = ['Apple', 'Mango', 'Orange', 'Strawberry', 'Pinapple', 'Watermelon', 'Lichi']

#Using lambda function
print(list(filter(lambda x: 'e' in x, fruits)))

#Alternatively using list comprehension
[fruit for fruit in fruits if 'e' in fruit]

['Apple', 'Orange', 'Strawberry', 'Pinapple', 'Watermelon']

['Apple', 'Orange', 'Strawberry', 'Pinapple', 'Watermelon']

In [58]:
#Sum of odd numbers upto 20

sum([i for i in range(20) if i%2!=0])

100

### Reduce function

In [60]:
import functools

In [63]:
L = [23,11,42,36,27,80,19,34,62,43,95]

print("Maximum no.: {}".format(functools.reduce(lambda x,y : x if x>y else y, L)))
print("Minimum no.: {}".format(functools.reduce(lambda x,y : x if x<y else y, L)))

Maximum no.: 95
Minimum no.: 11

In [72]:
sum1 = lambda x : x + 15

In [73]:
sum1(62)

77

In [74]:
mul1 = lambda x,y: x*y

In [75]:
mul1(5,8)

40

In [77]:
#Find the nth term of an AP
a = int(input("Enter the first_term"))
d = int(input("Enter the common_diff"))
n = int(input("Enter the no. of terms"))

print("Last term is : {}".format((lambda a,d,n : a + (n-1)*d)(a,d,n)))

Enter the first_term 5
Enter the common_diff 6
Enter the no. of terms 12

Last term is : 71